# Copy to project root as .env on server.
APP_HOST=0.0.0.0
APP_PORT=8000
APP_ENV=prod
APP_REQUEST_TIMEOUT=20
APP_INTERNAL_HOST=app

AVIASALES_BASE_URL=https://api.travelpayouts.com/aviasales/v3
AVIASALES_API_TOKEN=replace_me
DEFAULT_ORIGINS=SVO,DME,VKO
DEFAULT_DESTINATIONS=LED,IST,DXB
DEFAULT_DAYS_AHEAD=90

MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_DB=airfares
MONGO_USER=root
MONGO_PASSWORD=change_me
MONGO_AUTH_DB=admin
MONGO_COLLECTION=raw_flight_prices
MONGO_EXPRESS_PORT=8081
MONGO_EXPRESS_USER=admin
MONGO_EXPRESS_PASSWORD=change_me

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=dwh
POSTGRES_USER=dwh
POSTGRES_PASSWORD=change_me
POSTGRES_STG_SCHEMA=stg
POSTGRES_ODS_SCHEMA=ods
POSTGRES_DWH_SCHEMA=dwh
POSTGRES_DM_SCHEMA=dm

AIRFLOW_UID=50000
AIRFLOW_FERNET_KEY=replace_with_fernet_key
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__CORE__DEFAULT_TIMEZONE=UTC
AIRFLOW__WEBSERVER__SECRET_KEY=replace_with_secret
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=change_me
AIRFLOW_ADMIN_EMAIL=admin@example.com

DBT_PROFILES_DIR=/opt/airflow/dbt_profiles
DBT_PROJECT_DIR=/opt/airflow/dbt
ELEMENTARY_REPORT_FILE_PATH=/opt/airflow/reports/elementary_report.html
ELEMENTARY_TARGET_PATH=/tmp/edr_target
